<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Scrapbox TimeMachine
    if process.env.NODE_ENV === 'production'
      // Global site tag (gtag.js) - Google Analytics
      script(src="https://www.googletagmanager.com/gtag/js?id=UA-141415285-1")
      script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-141415285-1');
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap.css")
  body
    #app
    script(src="./scripts/entry.ts")
